.bodystyle {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.46;
  color: var(--text-color);
  background-color: var(--third-text-color);
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--button-background-color);
  cursor: pointer;
  color: var(--third-text-color);
}
.contact:hover,
.contact:focus {
  color: var(--logo-color);
  fill: var(--logo-color);
}
.contact-icon {
  fill: var(--second-text-color);
}

:root {
  --text-color: #212121;
  --second-text-color: #757575;
  --button-background-color: #2196f3;
  --background-color: #e5e5e5;
  --third-text-color: #ffffff;
  --logo-color: #2196f3;
  --secondary-bacground-color: #2f303a;
  --border-color: #ececec;
  --team-background: #f5f4fa;
  --icon-color: #afb1b8;
}

.header-logo {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  font-family: "raleway";
}
.logo-color {
  color: var(--logo-color);
}
.mail-div {
  height: 16px;
  margin: 8px 30px 7px 345px;
  justify-content: center;
  align-items: center;
  display: block;
}
.tel-div {
  height: 16px;
  margin: 8px 30px 7px 0px;
  justify-content: center;
  align-items: center;
}
.header-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.header-contact {
  text-decoration: none;
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.secondary-background {
  background-color: var(--secondary-bacground-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/goit-markup-hw-04/images/main-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  color: var(--third-text-color);
  font-size: 44px;
  line-height: 1.36;
}
.header-button {
  background-color: var(--button-background-color);
  color: var(--third-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  border: none;
}
.fourth-header {
  font-size: 14px;
  line-height: 1.17;
  margin-top: 0px;
  margin-bottom: 10px;
}
.description {
  font-weight: 400;
  font-size: 14px;
  color: var(--second-text-color);
  line-height: 1.71;
  margin-top: 10px;
}
.secondary-header {
  font-size: 36px;
  line-height: 1.17;
}
.third-header {
  font-size: 16px;
  line-height: 1.17;
  margin-top: 30px;
  margin-bottom: 10px;
}
.job-role {
  font-weight: 400;
  font-size: 16px;
  color: var(--second-text-color);
  line-height: 1.17;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 30px;
}
.footer-background {
  background-color: var(--secondary-bacground-color);
}
.footer-logo {
  text-decoration: none;
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 26px;
  font-family: "raleway";
  line-height: 1.17;
}
.footer-contact {
  font-style: normal;
  text-decoration: none;
  color: var(--third-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
}
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}
.portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-top: 0px;
  margin-bottom: 4px;
  padding-left: 24px;
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-text-color);
  padding-left: 24px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.logo-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo-div {
  box-sizing: content-box 145px 31px;
  padding-left: 0px;
  margin-right: 93px;
  flex-direction: row;
  justify-content: center;
  display: flex;
}
.header-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;

  border: solid 1px var(--border-color);
  padding-top: 24px;
  padding-bottom: 25px;
}
.nav-padding {
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 7px;
}
.nav-box {
  display: flex;
  flex-direction: row;
  width: 254px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  margin: 0;
}

.space-icon {
  margin-right: 10px;
}

.tel-box {
  width: 110px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 7px;
  margin-left: 10px;
}

.space-nav {
  margin-right: 46px;
}
.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}
.mail-box {
  width: 135px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  margin: 8px 30px 7px 10px;
  margin-top: 8px;
  margin-bottom: 7px;
}

.contact-space {
  margin-right: 50px;
}
.button-index {
  padding: 10px 41px 10px 42px;
  margin-top: 30px;
}

.button-box {
  display: flex;
  width: 572px;

  margin: auto;
  list-style-type: none;
  gap: 8px;
  margin-bottom: 50px;
  padding-left: 0px;
}

.main-container {
  display: flex;
  box-sizing: content-box 1170px 1360px;
  margin: 174px 215px 346px 215px;
}
.img-main-box {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
  margin: 0px;
}
.footer-box {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  justify-content: center;
}
.logo-box-footer {
  display: flex block;
  flex-direction: row;
  margin-bottom: 20px;
}

.footer-link {
  list-style-type: none;
  display: flex block;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.main-box-index {
  display: block flex;

  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-text-index {
  width: 696px;

  display: block;
  margin: 0 auto;
  text-align: center;
}
.index-description {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding-left: 0px;
  margin-top: 94px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.description-box {
  width: 270px;

  margin: 0 auto;
}
.sec-title {
  display: flex;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 0px;
  justify-content: center;
}
.img-work {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  padding-left: 0px;
}
.th-title {
  margin: 0 auto;
  text-align: center;
}
.workers {
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: right;
  margin: 0 auto;
  padding-left: 0px;
}
.img-shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--third-text-color);
}
.workers-text {
  text-align: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.border-img {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding-top: 20px;
}
.vertical {
  display: block;
}
.main-section {
  padding-top: 0px;
}
.title-margin {
  margin-bottom: 50px;
}
.job-container {
  width: 1170px;
}
.main-space {
  padding-top: 0px;
}
.team-color-background {
  background-color: var(--team-background);
}
.margin-img {
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  padding-bottom: 30px;
}
.margin-footer-link {
  margin-bottom: 9px;
}
.background-icon {
  background-color: var(--team-background);
}

.social-icon {
  margin: 12px;
}
.div:hover {
  width: 44px;
  height: 44px;
  background-color: var(--button-background-color);
  fill: var(--third-text-color);
  border-radius: 50%;
}
.divone {
  display: inline-flex;
  flex-direction: row;
  margin-right: 10px;
  fill: var(--icon-color);
}
.client-icon {
  width: 170px;
  height: 92px;
  display: inline-flex;
  flex-direction: row;
  margin-right: 30px;
  padding: center;
  fill: var(--icon-color);
  border: solid var(--icon-color) 1px;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
}
.client-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.client-icon:hover {
  fill: var(--button-background-color);
  border-color: var(--button-background-color);
}
.footer-title {
  color: var(--third-text-color);
  margin: 0px;
  display: flex;
}
.footer-icon-box {
  display: inline-flex block;
  justify-content: center;
  margin-left: 70px;
  padding-right: 863px;
}
.footer-icon-list {
  list-style-type: none;
  display: inline-flex;
  flex-direction: row;
  padding-left: 0px;
  margin-top: 20px;
}
.footer-icon {
  fill: var(--third-text-color);
  background: #ffffff1a;
  width: 44px;
  height: 44px;
  justify-content: center;
  display: flex;
  padding: 12px;
  margin-right: 10px;
  border-radius: 50%;
}
.footer-icon:hover {
  width: 44px;
  height: 44px;
  background-color: var(--button-background-color);
  border-radius: 50%;
}
.adres {
  display: inline-block;
  justify-content: center;
}
.portfolio-shadow:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.button-shadow:hover,
.button-shadow:focus {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.footer-div {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 215px;
  display: flex block;
  justify-content: center;
}
.bg-lorem-icon {
  padding: 25px 100px 25px 100px;
  display: block;
  margin-bottom: 30px;
  background-color: var(--team-background);
}
